{% extends 'base.html' %}
{% load static %}

{% block text-center %}
<ul class="nav text-center">
    <li><a href="{% url 'home' %}"><span>Главная</span></a></li>
    <li class="active"><a href="{% url 'about' %}">О нас</a></li>
    <li><a href="{% url 'contact' %}">Обратная связь</a></li>
</ul>
{% endblock text-center %}

{% block content %}

<main id="main">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 animate-box text-center">
            <h2>Немного о нас</h2>
            <p>Мы команда единомышленников, объединенные общей целью -
                организовать качественный сервис, где любой желающий может получить помощь в обучении.
            </p>
            <p>В нашей команде есть много специалистов в разных сферах, именно они и будут помогать вам.
                А может Вы тот самый специалист, который имеет идею для курса на платформе, или может стать куратором уже имеющегося напрвления?
                Будем рады новым лицам в нашей команде!
            </p>
            <p>Пишите нам в мессенджерах.</p>
        </div>
        <!-- <div class="col-md-4"></div> -->
    </div>
</main>

<section id="product">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-12 section-heading text-center">
                <h2>Наша команда</h2>
            </div>
        </div>
        <div class="row">
            <div class="post-entry">
                {% for developer in developers %}
                <div class="col-md-6">
                    <div class="post animate-box">
                        <a href="#"><img src="{{ developer.photo.url }}" alt="{{ developer.name }}"></a>
                        <div>
                            <h3><a href="#">{{ developer.name }}</a></h3>
                            <p>{{ developer.description|safe }}</p>
                            <span><a href="#">Читать больше</a></span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>



{% endblock content %}