{% load static %}
{% load socialaccount %}

<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
</head>
<div class="back_arrow">
    <a href="{% url 'home' %}"><i class='fa fa-arrow-left' style="color: black"></i></a>
</div>
<div class="login">
    <div class="login-form">
        <form action="" method="post">
            {% csrf_token %}
            {% for f in form %}
            <h3>{{ f.label }}:</h3>
            <label>{{ f }}</label>
            {% if f.errors %}
            <div class="error-field">
                <strong>{{ f.errors }}</strong>
            </div>
            {% endif %}
            {% endfor %}
            {% if login_flag %}
            <button type="submit" id="submit" class="btn btn-primary">Войти</button>
            <div class="pre_social">
                <p>или можете войти с помощью</p>
                <ul class="social">
                    <li><a href="{% provider_login_url 'github' %}"><i class="icon-github"></i></a></li>
                </ul>
            </div>
            <div class="bottom-text">
                <p class="sign-up" id="sign-up_text">Нет аккаунта?</p>
                <a href="{% url 'register' %}" class="sign-up">Зарегистрироваться</a>
            </div>

            {% else %}
            <button type="submit" id="submit" class="btn btn-primary">Зарегистрироваться</button>
            {% endif %}
        </form>
    </div>
</div>
<script src="{% static 'js/authentication.js' %}"></script>