{% extends 'base.html' %}
{% load static %}

{% block text-center %}
<ul class="nav text-center">
    <li><a href="{% url 'home' %}"><span>Главная</span></a></li>
    <li><a href="{% url 'about' %}">О нас</a></li>
    <li class="active"><a href="{% url 'contact' %}">Обратная связь</a></li>
</ul>
{% endblock text-center %}

{% block content %}
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                <div class="intro animate-box">
                    <h1>Оставить отзыв</h1>
                    <h2>Мы рады обратной связи. Напишите о своих пожеланиях, предложениях по улучшению сервиса, оставьте
                        отзыв, чтобы мы могли совершенствоваться и повышать качество нашей работы!</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<main id="main">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 animate-box">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-md-6 field">
                        <h3>Имя</h3>
                        <label>{{ form.name }}</label>
                        {% if form.name.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.name.errors }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 field">
                        <h3>Электронная почта</h3>
                        <label>{{ form.email }}</label>
                        {% if form.email.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.email.errors }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 field">
                        <h3>Отзыв</h3>
                        <label>{{ form.message }}</label>
                        {% if form.message.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.message.errors }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 field">
                        <h3>Введите текст с картинки:</h3>
                        <label>{{ form.captcha }}</label>
                        {% if form.captcha.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.captcha.errors }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 field">
                        <!--                        <input type="submit" id="submit" class="btn btn-primary" value="Send Message">-->
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- <div class="col-md-4"></div> -->
    </div>
</main>
{% endblock content %}