{% extends 'base.html' %}
{% load static %}

{% block text-center %}
<ul class="nav text-center">
    <li><a href="{% url 'home' %}"><span>Главная</span></a></li>
    <li><a href="{% url 'about' %}">О нас</a></li>
    <li class="active"><a href="{% url 'contact' %}">Обратная связь</a></li>
</ul>
{% endblock text-center %}

{% block content %}
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                <div class="intro animate-box">
                    <h2>Оставить отзыв</h2>
                    <p>Мы рады обратной связи. Напишите о своих пожеланиях, предложениях по улучшению сервиса, оставьте
                        отзыв, чтобы мы могли совершенствоваться и повышать качество нашей работы!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<main id="main">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 animate-box">
            <form action="" method="post">
                {% csrf_token %}
                {% for f in form %}
                <div class="form-group row">
                    <h3>{{ f.label }}</h3>
                    <label>{{ f }}</label>
                    {% if f.errors %}
                    <div class="error-field">
                        <strong>{{ f.errors }}</strong>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="form-group row">
                    <div class="col-md-12 field">
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock content %}