{% load static %}

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="{% static 'css/authentication.css' %}">
<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="back_arrow">
    <a href="{% url 'home' %}"><i class='fa fa-arrow-left' style="color: black"></i></a>
</div>

<div class="login">
    <div class="login-form">
        <form action="" method="post">
            {% csrf_token %}
            {% for f in form %}
            <h3>{{ f.label }}:</h3>
            <label>{{ f }}</label>
            {% if f.errors %}
            <div class="error-field">
                <strong>{{ f.errors }}</strong>
            </div>
            {% endif %}
            {% endfor %}
            <button type="submit" id="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
    </div>
</div>
<script src="{% static 'js/authentication.js' %}"></script>